[submodule "quotes"]
	path = quotes
	url = https://github.com/ThayTamPhap/quotes.git
[submodule "nois"]
	path = nois
	url = https://github.com/ThayTamPhap/nois.git
[submodule "e"]
	path = e
	url = https://github.com/ThayTamPhap/e.git
[submodule "phaps"]
	path = phaps
	url = https://github.com/ThayTamPhap/phaps.git
[submodule "s"]
	path = s
	url = https://github.com/ThayTamPhap/s.git
